@media (max-width: 320px) {

  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  }

  a {
    color: rgb(84,187,191);
  }


  #container {
    margin: 0;
    border: 0;
    max-width: 320px;
    padding: 40px;
  }

  nav {
    text-align: center;
  }
  nav li {
    display: inline-block;
    width: 160px;
  }

  h1 {
    text-align: center;
    color: #222;
    font-family: 'Petit Formal Script', cursive;
    font-size: 55px;
  }


  h2 {
    margin-top: 50px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  }

  p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  img {
    border: 1px solid #222;
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    height: 210px;
  }

  video {
      margin-left: 0px;
      width: 300px;
      height: 300px;
    }

}
