* {
  color: black;
  background: transparent;
  font-size: 14pt;
  font-family: serif;
}

@page {
  margin: 0.5in;
}

nav {
    display: none;
}

h1 {
  font-size: 25pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt
}

a {
    text-decoration: none;
}

a[href$=".html"] {
    display: none;
}

a[href^="http://"],
a[href^="https://"] {
  display: inline;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " (" attr(href) ") ";
}
